<div class="js_item_form">
  <div id="category_id" hidden><%= category_id %></div>
  <%= button_to '追加をやめる', remove_form_item_path(category_id), { method: :get, remote: :true } %>
  
  
  <div class="informations_form">
    <% items.each do |item| %>
      <div>
        <button class="js_item_list_btn">
          <span id="list_btn_name"><%= item.name %></span>
          <span id="list_btn_unit" hidden><%= item.unit %></span>
        </button>
      </div>
    <% end %>
    <%= form_with model: item, url: items_path, local: true do |f| %>
      <%= f.hidden_field :category_id, value: category_id, id: "category_id" %>

      <label class="is_frozen">
        <%= f.check_box :is_frozen, { id: "check_box" }, "true", "false" %>
        <%= image_tag("frozen.png", class:"frozen_image grayscale", id:"frozen_img") %>
      </label>
      <%= f.text_field :name, placeholder: "名前(20文字以内)", maxlength: "20", id: "name" %>
      <%= f.number_field :quantity, step: "0.5", placeholder: "数量(0.5単位)" %>
      <%= f.text_field :unit, placeholder: "単位", id: "unit" %>
      <%= f.label :deadline %>
      <%= f.date_field(:deadline, {}) %>
      <%= f.label :purchase_date %>
      <%= f.date_field(:purchase_date, {value: Time.now.strftime("%Y-%m-%d")}) %>

      <%= f.submit '送信' %>
    <% end %>
  </div>

</div>