<header>
  <div class="header_box header_left">
    <%= link_to image_tag("/logo.png", class: "logo_img"), "/" %>
  </div>

  <div class="header_box header_right">
    <% if user_signed_in? %>
      <div class="user_name"><%= current_user.name %></div>
      <div><%= link_to "ログアウト", destroy_user_session_path, class: "header_btn", method: :delete %></div>
    <% else %>
      <div><%= link_to "ログイン", new_user_session_path, class: "header_btn" %></div>
      <div><%= link_to "新規登録", new_user_registration_path, class: "header_btn" %></div>
    <% end %>
  </div>
</header>