<div id="js_<%= category.id %>_category_wrap">
  <div>
    <%= link_to '削除', category_path(category.id), class:"js_delete_btn", id: "js_#{category.id}_category", method: :delete, remote: true %>
    <% if category.category_list_id == 0 %>
      <%= link_to '編集', edit_category_path(category.id) %>
      <h4><%= category.name %></h4>
    <% else %>
      <h4><%= category.category_list.name %></h4>
    <% end %>
  </div>

  <div id="js_item_new_or_list_<%= category.id %>">
    <%= render 'items/form/add_item_form_btn', category_id: category.id %>
  </div>

  <%= render partial: 'items/top_page/item', collection: category.items, as: "item" %>

</div>
