<div>
  <%= link_to '削除', item_information_path(info.id), method: :delete %>
  <% if info.quantity % 1 == 0 %>
    <%= info.quantity.floor %>
  <% else %>
    <%= info.quantity %>
  <% end %>
    <%= unit %>:
  <% if info.deadline.present? %>
    <%= info.deadline %>
  <% else %>
    <%= info.purchase_date %>
  <% end %>
</div>