<div>
  <div>
    <% if category.category_list_id == 0 %>
      <%= category.name %>
    <% else %>
      <%= category.category_list.name %>
    <% end %>
  </div>

  <div class="informations_form" id="js_<%= category.id %>_informations_form">
    <div class="js_item_list_btn_box">
    <% category.items.each do |item| %>
      <button class="js_item_list_btn">
        <span id="list_btn_name"><%= item.name %></span>
        <span id="list_btn_unit" hidden><%= item.unit %></span>
      </button>
    <% end %>
    </div>
    <%= f.fields_for :informations do |ff| %>
      <%= ff.hidden_field :category_id, value: category.id, id:"category_id" %>

      <label class="is_frozen">
        <%= ff.check_box :is_frozen, { id: "check_box" }, "true", "false" %>
        <%= image_tag("frozen.png", class:"frozen_image grayscale", id:"frozen_img") %>
      </label>
      <%= ff.text_field :name, placeholder: "名前(20文字以内)", maxlength: "20", id: "name" %>
      <%= ff.number_field :quantity, step: "0.5", placeholder: "数量(0.5単位)", id: "quantity" %>
      <%= ff.text_field :unit, placeholder: "単位", id: "unit" %>
      <%= ff.label :deadline %>
      <%= ff.date_field(:deadline, { id: "deadline" }) %>
    <% end %>
  </div>
  <div id="js_<%= category.id %>">
    <%= link_to "＋別の食材を追加", "#", id: "js_add_informations_form" %>
  </div>
</div>