
<% if user_signed_in? %>
  <div><%= current_user.name %></div>
  <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><div>
  <%= link_to "カテゴリー追加", new_category_path %>
<% else %>
  <div><%= link_to "ログイン", new_user_session_path %></div>
  <div><%= link_to "新規登録", new_user_registration_path %></div>
<% end %>

<% if flash[:success] || flash[:error] %>
  <div><%= flash[:success] %></div>
  <div><%= flash[:error] %></div>
<% end %>

<% @categories.each do |category| %>
  <div>
    <%= link_to '-', category_path(category.id), method: :delete %>
    <% if category.category_list_id != 0 %>
      <%= category.category_list.name %>
    <% else %>
      <%= category.name %>
    <% end %>
  </div>
<% end %>

<%= render 'item_information_form', item: @item, category_id: 25 %>