
<% if user_signed_in? %>
  <div><%= current_user.name %></div>
  <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><div>
  <%= link_to "カテゴリー追加", new_category_path %>
<% else %>
  <div><%= link_to "ログイン", new_user_session_path %></div>
  <div><%= link_to "新規登録", new_user_registration_path %></div>
<% end %>
