<%= render 'shared/header' %>

<div class="main_top">
  <h1 class="title">食材一覧</h1>

  <div class="top_sub menu">
    <div><%= link_to "カテゴリー追加", new_category_path, class: "menu_btn" %></div>
    <div><%= link_to "食材をまとめて追加", new_item_information_path, class: "menu_btn" %></div>
  </div>
</div>

<div class="main">
  <div class="main_right">
    <div class="news">
      <% if flash[:success] %>
        <div class="news_content normal_news"><%= flash[:success] %></div>
      <% elsif flash[:error] %>
        <% flash[:error].each do |message| %>
          <div class="news_content error_news"><%= message %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="main_left">
    <%= render partial: 'items/top_page/category', collection: @categories, as: 'category' %>
  </div>
</div>
